// Externals

// Setup
@import "setup/variables";
@import "setup/functions";
@import "setup/mixins";

// Basics
@import "basics/typography";
@import "basics/base";
@import "basics/helpers";
@import "basics/layout";
@import "basics/modals";
@import "basics/animations";

// Views

// Components
@import "./cmps/contact-preview";
@import "./cmps/contact-filter";
@import "./cmps/statistic";
@import "./cmps/header";
@import "./views/home";
@import "./views/contact-page";
@import "./views/contact-details";
@import "./views/edit-contact";
@import "./views/signup-page";
@import "./cmps/transfer-fund";
@import "./cmps/move-list";








.main-app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    .app-header {
        background-color: #e91e63;
    }

    main {
        flex-grow: 1;
        width: 100%;
    }

    > footer {
        background-color: #111;
        color: white;
    }
}