.move-list{
    background-color: rgb(228, 223, 223);
    padding: 20px;
    border-radius: 10px;
    ul{
        border-top: 1px grey solid;
    }
    li{
        border-bottom: 1px grey solid;
        padding: 20px;
        line-height: rem(25px);
    }
}