.edit-page{
    form{
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 250px;
        input{
            padding: 5px;
        }
        .edit-btn{
            button{
                margin-top: 10px;
                &:not(:last-child){
                    margin-inline-end: 10px;
                }
            }
      
        }
    }
}